<div class="group-main-wrapper col-md-4">
    <div class="group-wrapper ">
        <h2>@Model.GroupName</h2>
        <p>Created by <b>@Model.User.UserName</b></p>

        <a class="btn btn-success" href="/Groups/Show/@Model.GroupId">Afisare grup</a>
    </div>
</div>