<div class="group-main-wrapper col-md-4">
    <div class="group-wrapper ">
        <h2>@Model.GroupName</h2>
        <p>Created by <b>@Model.User.UserName</b></p>

        <button class="btn btn-success btn-requested" type="button">Request sent</button>
    </div>
</div>
