
@{
    ViewBag.Title = "Editare";
}

<h2>Editeaza mesajul</h2>
<form method="post" action="/Messages/Edit/@ViewBag.message.MessageId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Continut mesaj</label>
    <br />
    <textarea name="MessageContent">@ViewBag.message.MessageContent</textarea>
    <br />
    <button class="btn btn-success" type="submit">Salveaza</button>
</form>
