@model DAW_social_platform.Models.Group
@{
    ViewBag.Title = "Edit";
}

<h2>Editeaza grupul</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Groups"))
 {
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("groupName", "Numele grupului")
    <br />
    @Html.Editor("groupName")

    @Html.ValidationMessage("groupName", null, new { @class = "text-danger" })

    <button class="btn btn-sm btn-success" type="submit">Modifica grupul</button>
 }