
@{
    ViewBag.Title = "ShowAllGroups";
}

<h2>ShowAllGroups</h2>

@foreach (DAW_social_platform.Models.Group group in ViewBag.allGroups)
{
    if (group.Users.Where(u => u.UserId == ViewBag.currentUser).Count() == 1)
    {
        @Html.Partial("GroupInfoShow", group)
    }
    else if (group.Requests.Where(u => u.UserId == ViewBag.currentUser).Count() == 1)
    {
        @Html.Partial("GroupInfoReq", group)
    }
    else
    {
        @Html.Partial("GroupInfoJoin", group)
    }
}
<br />

