@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RickRock</h1>
    <p class="lead">RickRock is a free social app for building great relationships and socializing.</p>
</div>
<h2>App Highlights:</h2>

<div class="row">
    <div class="col-md-4">
        <h3>Free Account And Profile</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem lectus, 
            tincidunt vel dapibus ac, eleifend vitae libero. Cras faucibus arcu ut fermentum 
            tincidunt.
        </p>
        <p><a class="btn btn-primary" href="/Account/Register">Create an account</a> or <a class="btn btn-success" href="/Account/Login">Log in</a></p>
    </div>
    <div class="col-md-4">
        <h3>Making Friends</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem lectus,
            tincidunt vel dapibus ac, eleifend vitae libero. Cras faucibus arcu ut fermentum
            tincidunt.
        </p>
        <p><a class="btn btn-primary" href="/Account/Register">Create an account</a> or <a class="btn btn-success" href="/Account/Login">Log in</a></p>
    </div>
    <div class="col-md-4">
        <h3>Joining Groups To Talk</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lorem lectus,
            tincidunt vel dapibus ac, eleifend vitae libero. Cras faucibus arcu ut fermentum
            tincidunt.
        </p>
        <p><a class="btn btn-primary" href="/Account/Register">Create an account</a> or <a class="btn btn-success" href="/Account/Login">Log in</a></p>
    </div>
</div>