@model DAW_social_platform.Models.Post
@{
    ViewBag.Title = "Edit";
}

<div class="title title-center col-md-12">
    <h2>Editeaza postarea</h2>
</div>

@using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { @class = "form col-md-4" }))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("Content", "Continutul Postarii")
    <br />
    @Html.TextBox("Content", null, new { @class = "form-control" })
    <br />
    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })


    <button class="btn btn-sm btn-success" type="submit">Modifica postarea</button>
}