@model DAW_social_platform.Models.Post
@{
    ViewBag.Title = "Edit";
}

<h2>Editeaza grupul</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Posts"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <h1>Numele userului</h1>
    <br />
    <br />

    @Html.Label("conent", "Continutul Postarii")
    <br />
    @Html.TextBox("content", null, new { @class = "form-control" })

    @Html.ValidationMessage("conent", null, new { @class = "text-danger" })


    <button class="btn btn-sm btn-success" type="submit">Modifica postarea</button>
}