
@{ ViewBag.Title = "create post"; }

<div class="title col-md-12" style="padding: 0;">
    <h2>Adauga postare</h2>
</div>

@using (Html.BeginForm("New", "Posts", FormMethod.Post, new { @class = "form col-md-4" }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("Content", "Continutul postarii")
    <br />
    @Html.TextBox("Content", null, new { @class = "form-control" })

    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
    <br />

    <button class="btn btn-sm btn-success" type="submit">Creeaza Postare</button>
}